* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calculatorarea {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calculator {
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(199, 188, 188);
  height: 75%;
  display: grid;
  grid-template-columns: repeat(4, 70px);
}

.mar{
  margin-left: 45px;
}

input {
  background-color: rgb(199, 188, 188);
  grid-column: span 4;
  border: none;
  text-align: end;
  font-size: large;
  padding: 5px;
}

button {
  border: none;
  border-radius: 5px;
  margin: 2px;
  background-color: white;
}

.equal {
  background-color: blue;
  color: white;
}
